# make all (FPGA + U-Boot):
/ATLAS_SOC_GHRD/
/logs/
/sd_fat.tar.gz
/stamp/
/u-boot.scr

# scripts/atlas_socdk_setup_angstrom_1.7.sh (Kernel + rootfs):
/ang_sstate_cache/
/downloads/
/setup-scripts/

# scripts/atlas_sd_card_image_creation.sh (integration):
/atlas_sdcard_*.img
